.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  animation: three 1.5s infinite ease-in-out both;
}

.loader-1,
.loader-2,
.loader-3 {
  width: 18px;
  height: 18px;
  background-color: #012FAA;
  border-radius: 100%;
  display: inline-block;
  animation: dots 1.5s infinite ease-in-out both;
}

.loader-1 {
  animation-delay: -0.32s;
}

.loader-2 {
  animation-delay: -0.16s;
}

@keyframes dots {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}
