.fav-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.favorit-title {
  font-weight: 300;
  margin-top: 50px;
  font-size: 40px;
  text-align: center;
}

.sub-title {
  margin-top: 30px;
  font-size: 22px;
  text-align: center;
}

.favorit-img {
  max-width: 100%;
}

.fav-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  outline: none;
}

.fav-btn:hover svg {
  fill: blue;
  opacity: 0.8;
}
