.card-item {
  position: relative;
  margin: 5px 10px;
}

.card-img {
  max-width: 100%;
  transition: all 1s ease-in-out;
}

.card-img:hover {
  transform: scale(1.04);
  opacity: .9;
}

.btn-favor {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  opacity: 0;
  transition: opacity .3s;
}

.card-item:hover .btn-favor {
  opacity: 1;
}

.card-favorite:active {
  fill: #818181;
}

@media (max-width: 1024px) {
  .card-img:hover {
    transform: scale(1);
  }
  .btn-favor {
    opacity: 1;
  }
}

@media (max-width: 574px) {
  .card-img {
    width: 100%;
  }
}