.header {
  padding: 25px 0;
  background: #000000;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.link {
  margin-left: 22px;
}

.logo-title {
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-left: 25px;
}

.link-title {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 10px;
}

.header .icon-saved {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  width: 30px;
  height: 2px;
  bottom: -18px;
  bottom: -10px;
  right: 0;
  position: absolute;
  border-bottom: 3px solid #FFFFFF;
}

@media (max-width: 768px) {
  .link-title, .logo-title {
    display: none;
  }
  .active-link::after {
    bottom: -18px;
  }
}